* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

#hud {
    position: absolute;
    z-index: 100;
    width: 100%;
    pointer-events: none;
}

#logo {
    position: absolute;

    top: 30px;
    left: 35px;

    color: white;

    font-size: 42px;
    font-weight: bold;

    letter-spacing: 4px;

    text-shadow:
        0 0 20px rgba(255,120,0,0.7);
}

#objective {
    position: absolute;

    top: 95px;
    left: 40px;

    color: #ffb347;

    font-size: 18px;

    letter-spacing: 2px;
}

#subtitle {
    position: absolute;

    bottom: 35px;
    left: 40px;

    color: rgba(255,255,255,0.9);

    font-size: 22px;

    letter-spacing: 2px;
}